*{
    margin: 0;
    padding: 0;
}
.Welcome{
    text-align: center;
    
}
/* تنسيق الصفحة كامل */
.container{
    display: flex;
    height: 100vh;
    border: 3px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 70px ;

}
.Right_sestion{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Left_session img{
    height: 100%;
}
.Form_row{
    display: flex;
    gap: 50px;
    margin-bottom: 30px; 
}

.Form{
    padding: 12px;
}
#Age{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
#Name{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    
}
#ID{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
#Email{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
#Password{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
#Confirem_Pasword{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.Button{
    background-color: #007bff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}
.Login{
    text-align: center;
    padding: 15px;
}
.Login a {
    text-decoration: none;
}
@media screen and (max-width: 833px) {
    .Left_session img{
        display: none;
    }
    .container{
        border: none;
        box-shadow:none;
        border-radius: none;
    }
}
@media screen and (max-width:1408px) {
    .container{
        border: none;
        box-shadow:none;
        border-radius: none;
    }
}
@media screen and (max-width:545px) {
    .container{
        flex-direction: column;
    }
    .Right_sestion{
        display: flex;
        flex-direction: column;
    }
    .Form{
        display: flex;
        flex-direction: column;
    }
    .Form_row{
        display: flex;
        flex-direction: column;
    }
}
